.todo-list {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  margin-top: 5em;
}

/*************** Add todo form ***************/
.add-todo-form {
  margin-bottom: 2em;
}

.add-todo-label {
  margin-right: .5em;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.add-todo-input {
  padding: .3em;
  font-size: 1.2rem
}

/*************** Todo item ***************/
.todo-item {
  font-size: 1.5rem;
  margin: .5em auto;
}

.todo-item-checkbox {
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  transform: scale(1.4);
  /* padding: 5px; */
}

.todo-label, .todo-item-input {
  margin-left: .8em;
}

.completed {
  color: #7c7c7c;
  text-decoration: line-through;
  font-style: italic;
}

/*************** Flex ***************/
.flex-container {
  display: flex;
  justify-content: space-between;
}