.todo-list {
  margin: 0 auto;
  width: 50%;
  margin-top: 5em;
}

.todo-item {
  font-size: 1.5rem;
  margin: .5em 0;
}

.todo-label {
  margin-left: .8em;
}

.completed {
  color: #7c7c7c;
  text-decoration: line-through;
  font-style: italic;
}

/*************** Add todo form ***************/
.add-todo-form {
  margin-bottom: 2em;
}

.add-todo-label {
  margin-right: .5em;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.add-todo-input, .add-todo-button {
  padding: .3em;
  font-size: 1.2rem
}

